.contactFormDesign{
    display:flex;
    max-width: 1000px;
    margin:0 auto;

}
.buttons{
    display:flex;
    gap:32px;
}
.contact_form{
    display:flex;
    flex-direction:column;
    gap:24px;
}