.navigation {
    padding:0 8 px;
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    max-width: 1000px;
  }
  
.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
    
    
    
  }